html {
    height:100%;
}

body {
    background-color: #1C1D21;
    min-height: 100%;


}

.logo {
    font-family:'Fredoka One', cursive;
    text-align: left;

    color:#F1E3E4;
    font-size:25px;
}

.content{
    position: absolute;
    margin: 10px 50px;
}

.content img{
    transition:1s;
    width: 200px;
    padding: 10px;

}



.content img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
}

.grid {
    list-style: none;
    display: block;
    margin: 0 0 0 0;
}
.grid li{
    display: inline-block;
}

.bottom-text{
    margin-top: auto;
    bottom:5px;
    font-family:'Fredoka One', cursive;
    color:#AAAAAA;
}

.content span{
    position:relative;
    margin-top: auto;
    margin-left: 15px;
    bottom:5px;
    font-family:'Fredoka One', cursive;
    color:#AAAAAA;
}
