html,body{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.top {
    height: 10%;
}
.logo {
    margin-left: 10px;
    font-family: 'Fascinate Inline', cursive;
    text-align: left;
    color: black;
    font-size:25px;
    display: inline-block;
}

.name {
    margin-left: 10px;
    font-family: 'Fascinate Inline', cursive;
    text-align: left;
    color: rgb(107, 107, 107);
    font-size:22px;
    display: inline-block;
}

.container{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.btn-run {
    margin-left: 20px;
    display: inline-block;
    transition:0.1s;
    font-family: 'Alata', sans-serif;
    font-size:15px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
.btn-run:hover{
    background-color: rgb(207, 207, 207); 
}


#canvas {
    border: 1px solid black;
    margin-left: 10px;
}

#picker {
    border: none;
    margin-left: 10px;
    /* width: 50px;
    height: 50px; */
    margin-top: 20px;
    display: inline-block;
}

#spacing-i {
    margin-left: 20px;
    display: inline-block;
    transition:0.1s;
    font-family: 'Alata', sans-serif;
    font-size:15px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    outline: none;
    cursor: pointer;
}
#spacing-i:hover{
    background-color: rgb(207, 207, 207); 
}

#controls-label {
    margin-left: 9px;
    margin-right: -10px;
    display: inline;
    font-family: 'Alata', sans-serif;
    font-size:15px;
    background-color: white;
    padding: 5px;
    outline: none;
    cursor: pointer;
}


